export GOPATH=$HOME/studio/project
export PATH=$PATH:$GOPATH/bin
export RegistryIP=172.32.36.224
export RegistryPort=32000
export RegistryDockerIO=`cat registry_dockerio.yaml`
export GITHUB_TOKEN=a6e5f445f68e34bfcccc49d01c282ca69a96410e
export K8S_NAMESPACE=ci-go-runner-`petname`
export K8S_POD_NAME=`kubectl --namespace=$K8S_NAMESPACE get pods -o json | jq '.items[].metadata.name | select ( startswith("build-"))' --raw-output`
export LOGXI='*=DBG'
export LOGXI_FORMAT='happy,maxcol=1024'
export SNAP=/snap
export PATH=$SNAP/bin:$PATH
export KUBE_CONFIG=~/.kube/microk8s.config
export KUBECONFIG=~/.kube/microk8s.config
