model_config_list {
  config{
    name: 'mnist'
    base_path: '/models/mnist/'
    model_platform: 'tensorflow'
    model_version_policy{
      specific{
        versions:2
        versions:3
      }
    }
  }
  config{
    name: 'Inception_1'
    base_path: '/models/inception_1/'
    model_platform: 'tensorflow'
  }
}
