
database:
    type: s3
    endpoint: http://minio-service.{{ default "local-go-runner" .Namespace }}.svc.cluster.local:9000
    bucket: metadata
    authentication: none

storage:
    type: s3
    endpoint: http://minio-service.{{ default "local-go-runner" .Namespace }}.svc.cluster.local:9000
    bucket: storage
    authentication: none

cloud:
    queue:
        rmq: "amqp://UserUser:PasswordPassword@rabbitmq-service.{{ default "local-go-runner" .Namespace }}.svc.cluster.local:5672/%2f?connection_attempts=30&retry_delay=.5&socket_timeout=5"

server:
    authentication: None

verbose: debug
saveWorkspaceFrequency: 3m
experimentLifetime: 120m

resources_needed:
    cpus: 1
    hdd: 10gb
    ram: 2gb

env:
    AWS_ACCESS_KEY_ID: "UserUser"
    AWS_SECRET_ACCESS_KEY: "PasswordPassword"
    AWS_DEFAULT_REGION: "{{ default "local-go-runner" .Namespace }}"
