database:
    type: s3
    endpoint: http://s3-{{expandenv "$AWS_REGION"}}.amazonaws.com
    bucket: "{{expandenv "$USER"}}-cpu-example-metadata"
    authentication: none

storage:
    type: s3
    endpoint: http://s3-{{expandenv "$AWS_REGION"}}.amazonaws.com
    bucket: "{{expandenv "$USER"}}-cpu-example-data"

server:
    authentication: None

verbose: debug
saveWorkspaceFrequency: 3m
experimentLifetime: 120m

resources_needed:
    cpus: 1
    hdd: 10gb
    ram: 2gb

env:
    AWS_ACCESS_KEY_ID: "{{expandenv "$AWS_ACCESS_KEY"}}"
    AWS_SECRET_ACCESS_KEY: "{{expandenv "$AWS_SECRET_ACCESS_KEY"}}"
    AWS_DEFAULT_REGION: "{{expandenv "$AWS_REGION"}}"
